/* =====================================================================
// HTML body.
// =====================================================================
*/
body {
	background-color:#CADCEC;
	color:#003366;
	font-family:Arial, Helvetica, sans-serif;
}

/* =====================================================================
// All links.
// =====================================================================
*/
a {
	color:#003366;
}

a:visited {
	color:#003366;
}

a:active {
	color:#003366;
}

a:hover {
	color:#CC0066;
}

/* =====================================================================
// Warning message.
// =====================================================================
*/
p.warning {
	color:#CC0000;
	font-size:20px;
  font-style:italic;
}

/* =====================================================================
// Information line.
// =====================================================================
*/
span.infoline {
	background-color:#CADCEC;
	color:#003366;
	font-size:12px;
	font-weight:bold;
}

/* =====================================================================
// Main table.
// =====================================================================
*/
table.main {
	background-color:#D8E4F1;
	border: 1px solid #A7C5E2;
	color:#003366;
	font-size:13px;
	width:840px;
}

/* =====================================================================
// Main table title cell.
// =====================================================================
*/
td.main-title {
	background: #BCD2E9 url(../images/main_title.jpg) repeat-x;
	color:#003366;
	font-size:15px;
	font-weight:bold;
	height:45px;
	text-align:center;
	width:840px;
}

/* =====================================================================
// Main table source directory cell.
// =====================================================================
*/
td.main-source-directory {
	background-color:#BCD2E9;
	border-bottom:1px solid #A7C5E2;
	color:#003366;
	font-size:13px;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:840px;
}

/* =====================================================================
// Main table header cell 1.
// =====================================================================
*/
td.main-header1 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:40px;
}

/* =====================================================================
// Main table header cell 2.
// =====================================================================
*/
td.main-header2 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-left:10px;
	text-align:left;
	width:220px;
}

/* =====================================================================
// Main table header cell 3.
// =====================================================================
*/
td.main-header3 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-left:10px;
	text-align:left;
	width:440px;
}

/* =====================================================================
// Main table header cell 4.
// =====================================================================
*/
td.main-header4 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:50px;
}

/* =====================================================================
// Main table header cell 5.
// =====================================================================
*/
td.main-header5 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Main table column cell 1.
// =====================================================================
*/
td.main-col1 {
	background-color:#D8E4F1;
	border-bottom:1px solid #A7C5E2;
	color:#003366;
	height:20px;
	padding-right:10px;
	text-align:right;
	width:40px;
}

/* =====================================================================
// Main table column cell 2.
// =====================================================================
*/
td.main-col2 {
	background-color:#D8E4F1;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	height:20px;
	padding-left:10px;
	text-align:left;
	width:220px;
}

/* =====================================================================
// Main table column cell 3.
// =====================================================================
*/
td.main-col3 {
	background-color:#D8E4F1;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	height:20px;
	padding-left:10px;
	text-align:left;
	width:440px;
}

/* =====================================================================
// Main table column cell 4.
// =====================================================================
*/
td.main-col4 {
	background-color:#D8E4F1;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	height:20px;
	padding-right:10px;
	text-align:right;
	width:50px;
}

/* =====================================================================
// Main table column cell 5.
// =====================================================================
*/
td.main-col5 {
	background-color:#D8E4F1;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	height:20px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Main table footer cell 1.
// =====================================================================
*/
td.main-footer1 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:40px;
}

/* =====================================================================
// Main table footer cell 2.
// =====================================================================
*/
td.main-footer2 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-left:10px;
	text-align:left;
	width:220px;
}

/* =====================================================================
// Main table footer cell 3.
// =====================================================================
*/
td.main-footer3 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:440px;
}

/* =====================================================================
// Main table footer cell 4.
// =====================================================================
*/
td.main-footer4 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:50px;
}

/* =====================================================================
// Main table footer cell 5.
// =====================================================================
*/
td.main-footer5 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Main table button cell.
// =====================================================================
*/
td.main-button {
	background-color:#C5D8EB;
	height:40px;
	text-align:center;
	width:840px;
}

/* =====================================================================
// Main table information cell.
// =====================================================================
*/
td.main-info {
	background-color:#BCD2E9;
	color:#003366;
	font-size:13px;
	font-weight:bold;
	height:100px;
	text-align:center;
	width:840px;
}

/* =====================================================================
// Graphic table.
// =====================================================================
*/
table.graphic {
	height:60px;
	width:240px;
}

/* =====================================================================
// Graphic bar cell.
// =====================================================================
*/
td.graphic-bar {
	background: url(../images/graphic_back.gif) no-repeat left bottom;
	height:34px;
	text-align:left;
	width:240px;
}

/* =====================================================================
// Graphic scale cell.
// =====================================================================
*/
td.graphic-scale {
	background: url(../images/graphic_scale.gif) no-repeat left top;
	height:26px;
	text-align:left;
	width:240px;
}

/* =====================================================================
// Progressbar span tag - English.
// =====================================================================
*/
div.progressbar-en {
	background: url(../images/progress_scale_en.jpg) no-repeat left;
	height:100px;
	text-align:left;
	width:600px;
}

/* =====================================================================
// Progressbar span tag - German.
// =====================================================================
*/
div.progressbar-ge {
	background: url(../images/progress_scale_ge.jpg) no-repeat left;
	height:100px;
	text-align:left;
	width:600px;
}

/* =====================================================================
// Project information table.
// =====================================================================
*/
table.project-info {
	background-color:#D8E4F1;
	border-left:1px solid #6A98CA;
	border-right:1px solid #6A98CA;
	border-top:1px solid #6A98CA;
	color:#003366;
	font-size:13px;
	width:760px;
}

/* =====================================================================
// Project table title cell.
// =====================================================================
*/
td.project-info-title {
	background: #6A98CA url(../images/project_info_title.jpg) repeat-x;
	border-bottom:1px solid #6A98CA;
	color:#003366;
	font-size:17px;
	font-weight:bold;
	height:45px;
	text-align:center;
	width:760px;
}

/* =====================================================================
// Project table header cell 1.
// =====================================================================
*/
td.project-info-header1 {
	background-color:#B9CEE6;
	border-bottom:1px solid #6A98CA;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-left:10px;
	text-align:left;
	width:250px;
}

/* =====================================================================
// Project table header cell 2.
// =====================================================================
*/
td.project-info-header2 {
	background-color:#B9CEE6;
	border-bottom:1px solid #6A98CA;
	border-left:1px solid #6A98CA;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Project table header cell 3.
// =====================================================================
*/
td.project-info-header3 {
	background-color:#B9CEE6;
	border-bottom:1px solid #6A98CA;
	border-left:1px solid #6A98CA;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Project table header cell 4.
// =====================================================================
*/
td.project-info-header4 {
	background-color:#B9CEE6;
	border-bottom:1px solid #6A98CA;
	border-left:1px solid #6A98CA;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Project table header cell 5.
// =====================================================================
*/
td.project-info-header5 {
	background-color:#B9CEE6;
	border-left:1px solid #6A98CA;
	color:#003366;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:240px;
}

/* =====================================================================
// Project table column cell 1.
// =====================================================================
*/
td.project-info-col1 {
	background-color:#B9CEE6;
	border-bottom:1px solid #6A98CA;
	color:#003366;
	height:30px;
	padding-left:10px;
	text-align:left;
	width:250px;
}

/* =====================================================================
// Project table column cell 2.
// =====================================================================
*/
td.project-info-col2 {
	border-bottom:1px solid #6A98CA;
	border-left:1px solid #6A98CA;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Project table column cell 3.
// =====================================================================
*/
td.project-info-col3 {
	border-bottom:1px solid #6A98CA;
	border-left:1px solid #6A98CA;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Project table column cell 4.
// =====================================================================
*/
td.project-info-col4 {
	border-bottom:1px solid #6A98CA;
	border-left:1px solid #6A98CA;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Project table column cell 5.
// =====================================================================
*/
td.project-info-col5 {
	background-color:#B9CEE6;
	border-bottom:1px solid #6A98CA;
	border-left:1px solid #6A98CA;
	color:#003366;
	height:60px;
	text-align:center;
	width:240px;
}

/* =====================================================================
// File information table.
// =====================================================================
*/
table.file-info {
	background-color:#D8E4F1;
	border-left:1px solid #A7C5E2;
	border-right:1px solid #A7C5E2;
	border-top:1px solid #A7C5E2;
	color:#003366;
	font-size:13px;
	width:760px;
}

/* =====================================================================
// Information table title cell.
// =====================================================================
*/
td.file-info-title {
	background: #BCD2E9 url(../images/file_info_title.jpg) repeat-x;
	border-bottom:1px solid #A7C5E2;
	color:#003366;
	font-size:17px;
	font-weight:bold;
	height:45px;
	text-align:center;
	width:760px;
}

/* =====================================================================
// Information table header cell 1.
// =====================================================================
*/
td.file-info-header1 {
	background-color:#CDDCED;
	border-bottom:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-left:10px;
	text-align:left;
	width:250px;
}

/* =====================================================================
// Information table header cell 2.
// =====================================================================
*/
td.file-info-header2 {
	background-color:#CDDCED;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Information table header cell 3.
// =====================================================================
*/
td.file-info-header3 {
	background-color:#CDDCED;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Information table header cell 4.
// =====================================================================
*/
td.file-info-header4 {
	background-color:#CDDCED;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Information table header cell 5.
// =====================================================================
*/
td.file-info-header5 {
	background-color:#CDDCED;
	border-left:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:240px;
}

/* =====================================================================
// Information table column cell 1.
// =====================================================================
*/
td.file-info-col1 {
	background-color:#CDDCED;
	border-bottom:1px solid #A7C5E2;
	color:#003366;
	height:30px;
	padding-left:10px;
	text-align:left;
	width:250px;
}

/* =====================================================================
// Information table column cell 2.
// =====================================================================
*/
td.file-info-col2 {
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Information table column cell 3.
// =====================================================================
*/
td.file-info-col3 {
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Information table column cell 4.
// =====================================================================
*/
td.file-info-col4 {
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	height:30px;
	padding-right:10px;
	text-align:right;
	width:90px;
}

/* =====================================================================
// Information table column cell 5.
// =====================================================================
*/
td.file-info-col5 {
	background-color:#CDDCED;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	height:60px;
	text-align:center;
	width:240px;
}

/* =====================================================================
// Detail table.
// =====================================================================
*/
table.file-detail {
	background-color:#D8E4F1;
	color:#003366;
	font-size:12px;
	width:1200px;
}

/* =====================================================================
// Detail table title cell.
// =====================================================================
*/
td.file-detail-title {
	background: #BCD2E9 url(../images/file_detail_title.jpg) repeat-x;
	border-left:1px solid #A7C5E2;
	border-right:1px solid #A7C5E2;
	border-top:1px solid #A7C5E2;
	color:#003366;
	font-size:17px;
	font-weight:bold;
	height:45px;
	text-align:center;
	width:1200px;
}

/* =====================================================================
// Detail table header cell 1.
// =====================================================================
*/
td.file-detail-header1 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	border-top:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:40px;
}

/* =====================================================================
// Detail table header cell 2.
// =====================================================================
*/
td.file-detail-header2 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	border-top:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:60px;
}

/* =====================================================================
// Detail table header cell 3.
// =====================================================================
*/
td.file-detail-header3 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	border-top:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:15px;
}

/* =====================================================================
// Detail table header cell 4.
// =====================================================================
*/
td.file-detail-header4 {
	background-color:#C5D8EB;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	border-top:1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:440px;
}

/* =====================================================================
// Detail table header cell 5.
// =====================================================================
*/
td.file-detail-header5 {
	background-color:#C5D8EB;
	border: 1px solid #A7C5E2;
	color:#003366;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:630px;
}

/* =====================================================================
// Detail table column cell 1.
// =====================================================================
*/
td.file-detail-col1 {
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	padding-right:5px;
	text-align:right;
	width:40px;
}

/* =====================================================================
// Detail table column cell 2 - delete.
// =====================================================================
*/
td.file-detail-col2-delete {
	background-color:#FF5555;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	text-align:center;
	width:60px;
}

/* =====================================================================
// Detail table column cell 2 - change.
// =====================================================================
*/
td.file-detail-col2-change {
	background-color:#FFB164;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	text-align:center;
	width:60px;
}

/* =====================================================================
// Detail table column cell 2 - none.
// =====================================================================
*/
td.file-detail-col2-none {
	background-color:#00F279;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	text-align:center;
	width:60px;
}

/* =====================================================================
// Detail table column cell 3 - normal.
// =====================================================================
*/
td.file-detail-col3-normal {
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	text-align:center;
	width:15px;
}

/* =====================================================================
// Detail table column cell 3 - active.
// =====================================================================
*/
td.file-detail-col3-active {
	background-color:#00F279;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	text-align:center;
	width:15px;
}

/* =====================================================================
// Detail table column cell 4 - normal.
// =====================================================================
*/
td.file-detail-col4-normal {
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	padding-left:5px;
	text-align:left;
	width:440px;
}

/* =====================================================================
// Detail table column cell 4 - empty.
// =====================================================================
*/
td.file-detail-col4-empty {
	background-color:#CADCEC;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	color:#003366;
	padding-left:5px;
	text-align:left;
	width:440px;
}

/* =====================================================================
// Detail table column cell 5 - normal.
// =====================================================================
*/
td.file-detail-col5-normal {
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	border-right:1px solid #A7C5E2;
	font-family:Courier, Arial, Helvetica, sans-serif;
	padding-left:5px;
	text-align:left;
	width:630px;
}

/* =====================================================================
// Detail table column cell 5 - empty.
// =====================================================================
*/
td.file-detail-col5-empty {
	background-color:#CADCEC;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	border-right:1px solid #A7C5E2;
	color:#003366;
	font-family:Courier, Arial, Helvetica, sans-serif;
	padding-left:5px;
	text-align:left;
	width:630px;
}

/* =====================================================================
// Detail table bottom cell.
// =====================================================================
*/
td.file-detail-bottom {
	background: url(../images/file_detail_bottom.jpg) repeat-x;
	border-bottom:1px solid #A7C5E2;
	border-left:1px solid #A7C5E2;
	border-right:1px solid #A7C5E2;
	font-size:13px;
	font-weight:bold;
	height:30px;
	text-align:center;
	width:1200px;
}
